{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Youtube clone</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'styles/video.css' %}">
        <link rel="stylesheet" href="{% static 'styles/general.css' %}">
        <link rel="stylesheet" href="{% static 'styles/header.css' %}">
        <link rel="stylesheet" href="{% static 'styles/sidebar.css' %}">

        <link rel="icon" type="image/x-icon" href="{% static '/images/favicon.ico' %}">
        <link rel="icon" type="image/x-ico" href="{% static 'Icons/yt-logo.png' %}">

    </head>
    <body>
        <div class="header">
            <div class="leftside">
                <img class="menubar" src="{% static 'Icons/hamburger-menu.svg' %}">
                <a href="https://www.youtube.com/"><img class="youtubelogo" src="{% static 'Icons/youtube-logo.svg' %}"></a>
            </div>
            <div class="center">
                <input class="box" type="text" placeholder="Search">
                <button class="search-button">
                    <img class="search-icon" src="{% static 'Icons/search.svg' %}">
                    <div class="tooltip">Search</div>
                </button>
                <button class="voice-button">
                    <img class="voice-icon" src="{% static 'Icons/voice-search-icon.svg' %}">
                    <div class="tooltip">Search with your voice</div>
                </button>
            </div>
            <div class="Rightside">
                <div class="upload-container">
                    <img class="upload" src="{% static 'Icons/upload.svg' %}">
                    <div class="tooltip">Create</div>
                </div>
                <div class="apps-container">
                    <img class="apps" src="{% static 'Icons/youtube-apps.svg' %}">
                    <div class="tooltip">YouTube apps</div>
                </div>

                <div class="notification-container">
                    <img class="notifications" src="{% static 'Icons/notifications.svg' %}">
                    <div class="noti7">7</div>
                    <div class="tooltip">Notifications</div>
                </div>
                <style>
                    a {
                        text-decoration: none;
                    }

                    .logout {
                        padding: 6px 8px;
                        border:none;
                        border-radius: 4px;
                        cursor: pointer;
                        color: white;
                        background-color: rgb(255, 32, 32);
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    }

                    .logout a {
                        text-decoration: none;
                        color: white;
                    }

                    .logout a:hover {
                        opacity: 0.8;

                    }

                    .login {
                        padding: 6px 8px;
                        border-radius: 4px;
                        border-width: 1px;
                        cursor: pointer;
                    }

                    .login a {
                        text-decoration: none;
                        color: black;
                    }

                    .login a:hover {
                        color: red;
                    }
                    
                </style>
                {% if user.is_authenticated %}
                <p style="padding-left: 10px;">Hello, {{user.username}}</p>
                {% else %}
                <button class="login">
                    <a href="accounts/login">Login</a>
                </button>
                {% endif %}
            </div>

        </div>

        <div class="sidebar">
            <div class="sidebar-links">
                <img src="{% static 'sidebar_Icons/home.svg' %}">
                <div>Home</div>
            </div>
            <div class="sidebar-links">
                <img src="{% static 'sidebar_Icons/explore.svg' %}">
                <div>Explore</div>
            </div>
            <div class="sidebar-links">
                <img src="{% static 'sidebar_Icons/subscriptions.svg' %}">
                <div>Subscriptions</div>
            </div>
            <div class="sidebar-links">
                <img src="{% static 'sidebar_Icons/originals.svg' %}">
                <div>Originals</div>
            </div>
            <div class="sidebar-links">
                <img src="{% static 'sidebar_Icons/youtube-music.svg' %}">
                <div>YouTube Music</div>
            </div>
            <div class="sidebar-links">
                <img src="{% static 'sidebar_Icons/library.svg' %}">
                <div>Library</div>
            </div>
            {% if user.is_authenticated %}
            <div class="sidebar-links">
                <button class="logout">
                    <a href="accounts/logout">Logout</a>
                </button>
            </div>
            {% endif %}
        </div>


        <div class="video-total">
            <div class="video-preview">
                <div class="Thumbnail">
                    <a href="https://www.youtube.com/watch?v=8reaJG7z-is"><img class="image-1" src="{% static 'Thumbnails/thumbnail-1.webp' %}"></a>
                    <div class="video-time">10:52</div>
                </div>

                <div class="video-info-grid">
                    <div class="channel-picture">
                        <img class="dp-1" src="{% static 'DP/channel-1.jpeg' %}">
                    </div>
                    <div class="video-info">
                        <p class="video-title">
                            I Visited Apple's Secret iPhone Testing Labs!
                        </p>
                        <p class="video-author">
                            Marques Brownlee
                        </p>
                        <p class="video-stats">
                            2.2M views 	&#183; 2 days ago
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="video-preview">
                <div class="Thumbnail">
                    <a href="https://www.youtube.com/watch?v=mP0RAo9SKZk"><img class="image-1" src="{% static 'Thumbnails/thumbnail-2.webp' %}"></a>
                    <div class="video-time">8:22</div>
                </div>
                <div class="video-info-grid">
                    <div class="channel-picture">
                        <img class="dp-1" src="{% static 'DP/channel-2.jpeg' %}">
                    </div>
                    <div class="video-info">
                        <p class="video-title">
                            Try Not To Laugh Challenge #9
                        </p>
                        <p class="video-author">
                            Markiplier
                        </p>
                        <p class="video-stats">
                            19M views 	&#183; 4 years ago
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="video-preview">
                <div class="Thumbnail">
                    <a href="https://www.youtube.com/watch?v=FgjPQQeTh1w"><img class="image-1" src="{% static 'Thumbnails/thumbnail-3.webp' %}"></a>
                    <div class="video-time">22:32</div>
                </div>
                <div class="video-info-grid">
                    <div class="channel-picture">
                        <img class="dp-1" src="{% static 'DP/channel-3.jpeg' %}">
                    </div>
                    <div class="video-info">
                        <p class="video-title"> 
                            Samsung S24 Ultra vs iPhone 15 Pro Max Camera Battle!
                        </p>
                        <p class="video-author">
                            Mrwhosetheboss
                        </p>
                        <p class="video-stats">
                            6.3M views 	&#183; 4 months ago
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="video-preview">
                <div class="Thumbnail">
                    <a href="https://www.youtube.com/watch?v=094y1Z2wpJg"><img class="image-1" src="{% static 'Thumbnails/thumbnail-4.webp' %}"></a>
                    <div class="video-time">3:03</div>
                </div>
                <div class="video-info-grid">
                    <div class="channel-picture">
                        <img class="dp-1" src="{% static 'DP/channel-4.jpeg' %}">
                    </div>
                    <div class="video-info">
                        <p class="video-title">
                            The Simplest Math Problem No One Can Solve - Collatz
                        </p>
                        <p class="video-author">
                            Veritasium
                        </p>
                        <p class="video-stats">
                            18M views 	&#183; 4 months ago
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="video-preview">
                <div class="Thumbnail">
                    <a href="https://www.youtube.com/watch?v=y1-w1kUGuz8"><img class="image-1" src="{% static 'Thumbnails/thumbnail-5.webp' %}"></a>
                    <div class="video-time">3:03</div>
                </div>
                <div class="video-info-grid">
                    <div class="channel-picture">
                        <img class="dp-1" src="{% static 'DP/channel-5.jpeg' %}">
                    </div>
                    <div class="video-info">
                        <p class="video-title">
                            Kalki 2898 AD Trailer - Telugu | Prabhas | Amitabh Bachchan | Kamal Haasan | Deepi...
                        </p>
                        <p class="video-author">
                            Vyjayanthi Network
                        </p>
                        <p class="video-stats">
                            10.3M views &#183; 17 hours ago
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="video-preview">
                <div class="Thumbnail">
                    <a href="https://www.youtube.com/watch?v=Pv0iVoSZzN8"><img class="image-1" src="{% static 'Thumbnails/thumbnail-6.webp' %}"></a>
                    <div class="video-time">10:00</div>
                </div>
                <div class="video-info-grid">
                    <div class="channel-picture">
                        <img class="dp-1" src="{% static 'DP/channel-6.jpeg' %}">
                    </div>
                    <div class="video-info">
                        <p class="video-title">
                            In 10 Minutes This Room Will Explode!
                        </p>
                        <p class="video-author">
                            MrBeast
                        </p>
                        <p class="video-stats">
                            102M views &#183; 1 month ago
                        </p>
                    </div>
                </div>
            </div>

            <div class="video-preview">
                <div class="Thumbnail">
                    <a href="https://www.youtube.com/watch?v=fNVa1qMbF9Y"><img class="image-1" src="{% static 'Thumbnails/thumbnail-7.webp' %}"></a>
                    <div class="video-time">19:59</div>
                </div>
                <div class="video-info-grid">
                    <div class="channel-picture">
                        <img class="dp-1" src="{% static 'DP/channel-7.jpeg' %}">
                    </div>
                    <div class="video-info">
                        <p class="video-title">
                            Why Planes Don't Fly Over Tibet
                        </p>
                        <p class="video-author">
                            RealLifeLore
                        </p>
                        <p class="video-stats">
                            6.6M view &#183; 1 year ago
                        </p>
                    </div>
                </div>
            </div>

            <div class="video-preview">
                <div class="Thumbnail">
                    <a href="https://www.youtube.com/watch?v=lFm4EM1juls"><img class="image-1" src="{% static 'Thumbnails/thumbnail-8.webp' %}"></a>
                    <div class="video-time">19:59</div>
                </div>
                <div class="video-info-grid">
                    <div class="channel-picture">
                        <img class="dp-1" src="{% static 'DP/channel-8.jpeg' %}">
                    </div>
                    <div class="video-info">
                        <p class="video-title">
                            Inside The World's Biggest Passenger Plane
                        </p>
                        <p class="video-author">
                            Tech Vision
                        </p>
                        <p class="video-stats">
                            3.7M views &#183; 10 months ago
                        </p>
                    </div>
                </div>
            </div>

            <div class="video-preview">
                <div class="Thumbnail">
                    <a href="https://www.youtube.com/watch?v=ixmxOlcrlUc"><img class="image-1" src="{% static 'Thumbnails/thumbnail-9.webp' %}"></a>
                    <div class="video-time">19:59</div>
                </div>
                <div class="video-info-grid">
                    <div class="channel-picture">
                        <img class="dp-1" src="{% static 'DP/channel-9.jpeg' %}">
                    </div>
                    <div class="video-info">
                        <p class="video-title">
                            The SECRET to Super Human STRENGTH
                        </p>
                        <p class="video-author">
                            ThenX
                        </p>
                        <p class="video-stats">
                            20M views &#183; 3 year ago
                        </p>
                    </div>
                </div>
            </div>

            <div class="video-preview">
                <div class="Thumbnail">
                    <a href="https://www.youtube.com/watch?v=R2vXbFp5C9o"><img class="image-1" src="{% static 'Thumbnails/thumbnail-10.webp' %}"></a>
                    <div class="video-time">19:59</div>
                </div>
                <div class="video-info-grid">
                    <div class="channel-picture">
                        <img class="dp-1" src="{% static 'DP/channel-10.jpeg' %}">
                    </div>
                    <div class="video-info">
                        <p class="video-title">
                            How The World's Largest Cruise Ship Makes 30,000 Meals Every Day
                        </p>
                        <p class="video-author">
                            Business Insider
                        </p>
                        <p class="video-stats">
                            14M views &#183; 1 year ago
                        </p>
                    </div>
                </div>
            </div>

            <div class="video-preview">
                <div class="Thumbnail">
                    <a href="https://www.youtube.com/watch?v=0nZuYyXET3s"><img class="image-1" src="{% static 'Thumbnails/thumbnail-11.webp' %}"></a>
                    <div class="video-time">19:59</div>
                </div>
                <div class="video-info-grid">
                    <div class="channel-picture">
                        <img class="dp-1" src="{% static 'DP/channel-11.jpeg' %}">
                    </div>
                    <div class="video-info">
                        <p class="video-title">
                            Dubai's Crazy Underwater Train and Other Things #Only in Dubai
                        </p>
                        <p class="video-author">
                            Destination Tips
                        </p>
                        <p class="video-stats">
                            3M views &#183; 1 year ago
                        </p>
                    </div>
                </div>
            </div>

            <div class="video-preview">
                <div class="Thumbnail">
                    <a href="https://www.youtube.com/watch?v=9iMGFqMmUFs"><img class="image-1" src="{% static 'Thumbnails/thumbnail-12.webp' %}"></a>
                    <div class="video-time">19:59</div>
                </div>
                <div class="video-info-grid">
                    <div class="channel-picture">
                        <img class="dp-1" src="{% static 'DP/channel-12.jpeg' %}">
                    </div>
                    <div class="video-info">
                        <p class="video-title">
                            What would happen if you don't drink water? - Mia Nacamulli
                        </p>
                        <p class="video-author">
                            TED-Ed
                        </p>
                        <p class="video-stats">
                            12M views &#183; 5 year ago
                        </p>
                    </div>
                </div>
            </div>

        </div>
        
    </body>
</html>
